@use '../src/color' as *;

input {
  width: 100%;
  margin-bottom: 1rem;
  padding: 12px 40px;
  border: 1px solid $m-grey;
  border-radius: 8px;
  font-size: 15px;
  box-sizing: border-box;

  background-repeat: no-repeat;
  background-position: 12px center;
  background-size: 20px 20px;
  background-image: url('../../../assets/search-icon.svg');
}

input::placeholder {
  color: $m-black;
}
