@use '../src/color' as *;

:host {
  position: fixed;
  height: 60px;
  width: calc(100% - 244px);
  display: flex;
  align-items: center;
  padding: 0 122px;
  background-color: white;
  z-index: 100000;
  @media (max-width: 900px) {
    justify-content: center;
  }

  h4 {
    margin: 10px;
    @media (max-width: 900px) {
      display: none;
    }
  }

  .header-button {
    margin: 5px;
    border: none;
    border-radius: 4px;
    height: 30px;
    min-width: 160px;
    background-color: white;
    color: $m-grey-dark;
    display: flex;
    align-items: center;
    cursor: pointer;

    font-weight: 600;

    img {
      margin-right: 5px;
    }

    &.toggle {
      background-color: $m-blue;
      color: $m-blue-dark;
    }
  }
}
