@use 'color' as *;

:host {
  position: fixed;
  height: 60px;
  width: calc(100% - 244px);
  display: flex;
  align-items: center;
  padding: 0 122px;
  background-color: white;
  @media (max-width: 900px) {
    justify-content: center;
  }

  h4 {
    margin: 10px;
    @media (max-width: 900px) {
      display: none;
    }
  }

  .header-button {
    margin: 5px;
    border: none;
    border-radius: 4px;
    height: 30px;
    min-width: 160px;
    background-color: white;
    color: $m-grey-title;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
    font-size: 12px;
    line-height: 120%;
    letter-spacing: 0;
    vertical-align: middle;

    .icon {
      margin-right: 8px;
      width: 14px;
      height: 14px;
      background: $m-grey-title;

      &.group {
        mask: url('/sort-group.svg') no-repeat center;
      }

      &.alpha {
        mask: url('/sort-alpha.svg') no-repeat center;
      }

      &.selected {
        background: $m-blue-dark;
      }
    }

    &.toggle {
      background-color: $m-blue;
      color: $m-blue-dark;
    }
  }
}
