<h4>Catégories</h4>
<button
  (click)="setCategoriesSort('BY_GROUP')"
  [class.toggle]="categoriesSort() === 'BY_GROUP'"
  class="header-button"
>
  <span
    class="icon group"
    [class.selected]="categoriesSort() === 'BY_GROUP'"
  ></span>
  Groupe de catégorie
</button>
<button
  (click)="setCategoriesSort('BY_ALPHA')"
  [class.toggle]="categoriesSort() === 'BY_ALPHA'"
  class="header-button"
>
  <span
    class="icon alpha"
    [class.selected]="categoriesSort() === 'BY_ALPHA'"
  ></span>
  Ordre alphabétique
</button>
