$m-red: #ffece6;
$m-red-dark: #fd755f;

$m-yellow: #fff5bf;
$m-yellow-dark: #faa11c;

$m-blue: #f1f7fc;
$m-blue-dark: #11abec;

$m-pink: #ffe6f0;
$m-pink-dark: #f75fa1;

$m-purple: #f4e6ff;
$m-purple-dark: #a55fff;

$m-green: #e6fff0;
$m-green-dark: #2ecc71;

$m-grey: #dce4ed;
$m-grey-dark: #636970;

$m-grey-title: #58676d;

$m-grey-background: #f3f5f8;

$m-black: #001a25;
