@use '../src/styles' as *;

.categories-item-container {
  height: calc(100% - 31px);
  flex: 0 0 46%;
  background-color: white;
  --m-red: #{$m-red};
  --m-red-dark: #{$m-red-dark};

  --m-yellow: #{$m-yellow};
  --m-yellow-dark: #{$m-yellow-dark};

  --m-blue: #{$m-blue};
  --m-blue-dark: #{$m-blue-dark};

  --m-pink: #{$m-pink};
  --m-pink-dark: #{$m-pink-dark};

  --m-purple: #{$m-purple};
  --m-purple-dark: #{$m-purple-dark};

  --m-green: #{$m-green};
  --m-green-dark: #{$m-green-dark};

  border-bottom: 1px solid $m-gray;
  border-right: 1px solid $m-gray;
  padding: 15px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.categories-item-container:hover {
  background-color: $m-gray;
}

:host:nth-last-child(-n + 1) {
  .categories-item-container {
    border-bottom: 0;
  }
}

.selected {
  outline: 1px solid $m-blue-dark !important;
  background-color: $m-blue !important;
}

.group {
  padding: 5px 16px;
  border-radius: 15px;
  width: fit-content;
  font-weight: 400;
  margin-bottom: 10px;
}

.title {
  font-weight: 600;
  margin-bottom: 10px;
}

.body {
  font-weight: 400;
  color: $m-gray-dark;
}
