@use 'color' as *;

.categories-item-container {
  height: calc(100% - 30px);
  flex: 0 0 46%;
  background-color: white;
  padding: 15px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  .group {
    padding: 2px 16px;
    border-radius: 16px;
    width: fit-content;
    font-weight: 400;
    margin-bottom: 10px;
    font-size: 12px;
    letter-spacing: 0;
    vertical-align: middle;
  }

  .title {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0;
    vertical-align: middle;
  }

  .description {
    font-weight: 400;
    color: $m-grey-dark;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0;
    vertical-align: middle;
  }
}

:host {
  border-bottom: 1px solid $m-grey;
}
:host:nth-child(odd) {
  border-right: 1px solid $m-grey;
}

.categories-item-container:hover {
  background-color: $m-grey;
}

.selected {
  outline: 1px solid $m-blue-dark !important;
  background-color: $m-blue !important;
}
