/* You can add global styles to this file, and also import other style files */
$m-red: #ffece6;
$m-red-dark: #fd755f;

$m-yellow: #fff5bf;
$m-yellow-dark: #faa11c;

$m-blue: #f1f7fc;
$m-blue-dark: #11abec;

$m-pink: #ffe6f0; // clair, doux
$m-pink-dark: #f75fa1; // foncé, saturé

// Purple
$m-purple: #f4e6ff; // clair, pastel
$m-purple-dark: #a55fff; // foncé, vibrant

// Green
$m-green: #e6fff0; // clair, doux
$m-green-dark: #2ecc71;

$m-gray: #dce4ed;
$m-gray-dark: #636970;

$m-gray-background: #f3f5f8;

$m-black: #001a25;

html,
body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  height: 100%;
}

h4 {
  font-weight: 600;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0;
  vertical-align: middle;
}
