html,
body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  height: 100%;
}

h4 {
  font-weight: 600;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0;
  vertical-align: middle;
}
